<div class="memorial-background">
    <img class="ui medium centered circular image" src="<%= image_url "Goose.jpeg" %>">
  <h1 class="ui inverted center aligned header">
    LTJG Nick "Goose" Bradshaw
  </h1>
  <h2 class="ui inverted center aligned header">
    1962-1986
  </h2>
  <audio width="25%" controls>
</audio>
</div>

