<h1 class="ui menu">
  <div class="header item">BILLBOARD TOP 666</div>
  <%= link_to(song_boards_path) do %><div class="item">Boards</div><% end %>
  <%= link_to(artists_path) do %><div class="item">Artists</div><% end %>
  <%= link_to(static_pages_memorial_path) do %><div class="item right aligned">Memorial</div><% end %>
</h1>